:root {
  --danger: #db5461;
  --danger-selected: #d83747;
  --blue-light: #dfe7ec;
  --blue: #aac7db;
  --blue-selected: #89b0ce;
  --green: #45c03e;
  --green-selected: #24a11d;
  --olive-light: #dfecb3;
  --olive: #BADA55;
  --olive-selected: #a6c443;
  --yellow-light: #f5e0a7;
  --yellow: #FFCA3A;
  --yellow-selected: #dfae27;
  --ruby: #A65089;
  --ruby-selected:#8F3C73;
  
}

* {
  margin: 0;
  padding: 0;
}

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  font-family: 'Poppins', sans-serif;
}

.AppPage {
  max-width: 1200px;
  align-items: center;
  margin: auto;
}

.Page {
  width: 100%;
}

.btn {
  font-size: 1em;
  text-align: center;
  width: 165px;
  color: white;
  background-color: var(--ruby);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 5px 5px;
}

.btn:hover{
  background-color: var(--ruby-selected);
}

.btn-red {
  background-color: var(--danger);
}

.btn-red:hover {
  background-color: var(--danger-selected);
}

.btn:active {
  box-shadow: 3px 3px var(--ruby-selected);
  transform: translateY(2px);
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  width: 80%;
  margin: 15px 0;
  height: 2em;
}

.submit-btn {
  padding: 0;
  border: 0;
  height: 40px;
  width: 80%;
  margin: 20px 0px;
  background-color: var(--green);
}
.submit-btn:hover {
  background-color: var(--green-selected);
}

.flexBoxByCols {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flexBoxByRows {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.mainBookImg {
  min-height: 120px;
  max-height: 250px;
  max-width: 40vw;
}
.bold {
  font-weight: bold;
}

.btn-inSearchMode {
  background-color: gray;
}
.btn-inSearchMode:hover {
  background-color: gray;
}
.btn-yellow {
  background-color: var(--yellow);
}
.btn-yellow:hover {
  background-color: var(--yellow-selected);
}

.red-text {
  color: var(--danger);
}
.green-text {
  color: var(--green-selected)
}



.makeFirstLetterUpper {
  text-transform: capitalize;
}

.modalbackground {
  position: fixed;
  z-index: 50;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 50%;
}

.modal-btn {
  width: 80%;
  height: 50px;
}

.Modal {
  position: fixed;
  border-radius: 10px;
  z-index: 100;
  top: 50px;
  margin: 0 auto;
  width: 700px;
  max-width: 98vw;
  background-color: var(--yellow-light);
  border: black 1px solid;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
  align-items: center;
}

.modal-para {
  width: 80%;
  text-align: center;
}

.hideModal {
  display: none !important;
}

.modal-submit {
  margin: 5px auto;
}
.modal-submit {
  margin: 5px auto;
}

@media only screen and (max-width: 650px) {
  .Page {
    margin-top: 10px;
  }
}