.account-page-grid {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.account-sidebar {
  display: flex;
}

.account-book-container {
  margin: 0 auto;
  width: 100%;
}

.account-page-btn {
  width: 125px;
  background-color: var(--blue);
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  justify-content: left;
  padding-left: 10px;
  font-size: 13px;
  padding-right: 5px;
}
.account-page-btn:hover {
  background-color: var(--blue-selected);
}

.sidebar-icon {
  margin-right: 15px;
}

@media only screen and (max-width: 770px) {
  .account-page-btn {
    width: 40px;
    padding-right: 0;
  }
  .account-btn-wording {
    display: none;
  }
}



