.landingPage-container  {
  display: flex;
}

.landing-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.landing-image {
  border-radius: 5px;
  width: 100%;
}

.landing-text {
  display: flex;
  flex-direction: column;
  padding: 30px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  
}

.landing-text p {
  text-align: justify;
}

.landing-title {
  
}

.bookPileImg {
  width: 200px;
  border-radius: 20px;
}

.started {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: var(--olive-light);
  margin: 20px 0;
  width: 80%;
  padding-bottom: 30px;
}

.started:hover {
  background-color: var(--olive-selected);
}

@media only screen and (max-width: 800px) {
  .landing-pic-conatiner {
    display: none;
  }
  .landing-text {
    width: 100%;
    padding: 5px 10px;
  }
  .credit {
    display: none;
  }
}
