.bookPage {

}

.artWorkGallery {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.coverItem {
  margin: 10px 5px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.coverArt {
  height: 150px;
}

.selectedItem {
  background-color: var(--blue);
  border-radius: 5px;
}

.selectedItem .btn {
  background-color: var(--green);
}