/* Reading Plan View */
.RP-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.RP-top-row {
  display: flex;
  margin: 5px auto;
  width: 90%;
  justify-content: space-evenly;
  text-align: center;
}
.RP-paragrpah-container {
  max-width: 80vw;
  text-align: justify;
  margin: 15px auto;
}
.RP-form {
  display: grid;
  grid-template-columns: 25px 50px 50px 50px 70px 25px 25px 25px;
  grid-auto-rows: 40px;
  margin: 10px auto;
}

.RP-col1{
  grid-column: 1 / span 1;
}
.RP-col2{
  grid-column: 2 / span 1;
}
.RP-col3{
  grid-column: 3 / span 1;
}
.RP-col4{
  grid-column: 4 / span 1;
}
.RP-col3, .RP-col4 {
  margin: 2px;
  width: 45px;
}
.RP-col5{
  grid-column: 5 / span 1;
}
.RP-col6{
  grid-column: 6 / span 1;
  
}
.RP-col7{
  grid-column: 7 / span 1;
}
.RP-col8{
  grid-column: 8 / span 1;
}
.RP-edit-doneBtn {
  grid-column: 6 / span 3;
  height: 20px;
  margin: 0;
  width: 75px;
}
.RP-col1, .RP-col2, .RP-col3, .RP-col4, .RP-col5, .RP-col6, .RP-col7, .RP-col8 {
  height: 25px;
  text-align: center;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  padding: 0;
  margin: 0
}
.RP-icon {
  width: 20px;
}
.RP-flex {
  justify-content: space-evenly;
}
.RP-top-row {
  margin-bottom: 20px;
}
.RPM-row {
  width: 90%;
  justify-content: space-evenly;
  margin: 5px 0;
}
.RPM-label {
  width: 60%;
  font-size: 0.95em;
}
.RPM-input {
  width: 30%;
  padding: 5px 0;
  text-align: center;
}

@media only screen and (min-width: 800px) {
  .RP-form {
    grid-template-columns: 80px 200px 100px 100px 100px 60px 60px 60px;
    grid-auto-rows: 40px;
    margin: 10px auto;
  }
  .RP-col1, .RP-col2, .RP-col3, .RP-col4, .RP-col5, .RP-col6, .RP-col7 {
    height: 20px;
    text-align: center;
    font-size: 1em;
  }
  .RP-icon {
    
  }
  .RP-flex {
    justify-content: space-evenly;
  }
  .RP-edit-doneBtn {
    width: 200px;
  }
}

